<div class="header">
    <div class="logo">
        <a class="logo__link" href="/">
            <span>Logo text</span>
        </a>
    </div>

    <div class="logo__sub">demo</div>

    <div class="user__wrapper">{{> user}}</div>
</div>
